title: ~

unpkg: ~
js: ~

titles_from_headings:
  enabled:     true
  strip_title: false
  collections: false
  
plugins:
  - jekyll-coffeescript
  - jekyll-default-layout
  - jekyll-gist
  - jekyll-github-metadata
  - jekyll-optional-front-matter
  - jekyll-paginate
  - jekyll-readme-index
  - jekyll-relative-links
  - jekyll-remote-theme
  - jekyll-titles-from-headings